########## Mandatory ##########
# Blockchain #
BLOCKCHAIN_RPC_ENDPOINT=xxx
ORBIT_SPHERE_CONTRACT_DEPLOYED_ON_BLOCK=xxx
ORBIT_SPHERE_CONTRACT=0x972b861ebbf74583f2f27c42d11132b03eb8d493

#  Database #
DATABASE_CONNECTION_URL=postgres://postgres:orbitsphere@localhost:5432/OrbitSphere

# Kafka #
KAFKA_CONNECTION_URL=xxx

# AWS #
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx

# Frontend #
COOKIE_SECRET=xxx
NEXT_PUBLIC_DEFAULT_PAGE_LIMIT=9
NEXT_PUBLIC_MINIMUM_TIME_TO_RENT=10
NEXT_PUBLIC_USDC=0x1Dd8Fd2Fb6D3a51aAc5803b58E4135bbe2Eec841
NEXT_PUBLIC_ORBIT_SPHERE_CONTRACT=0x972b861ebbf74583f2f27c42d11132b03eb8d493